<form [formGroup]="patientForm" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="form-card">

    <mat-card-header>
      <mat-card-title>General Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Text</mat-label>
            <textarea formControlName='text' matInput placeholder="Text"></textarea>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Id</mat-label>
            <input type="id"
             matInput formControlName='id' placeholder="Id" >
          </mat-form-field>

        </div>

      </div>
    </mat-card-content>



  </mat-card>

  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content >
      <div *ngFor="let addr of patientForm.controls.address.controls" >
        <div class="row" [formGroup]="addr" >
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input type="text"
               matInput formControlName='city' placeholder="City" >
            </mat-form-field>

          </div>
        </div>

        <div  >
          <div *ngFor="let string of addr.controls.line.controls; index as i">
            <mat-form-field class="example-full-width">
            <input matInput type="text" [formControl]="string" [value]="string.value">
            </mat-form-field>
            <button (click)="removeString(addr, i)">Remove</button>
          </div>
        <button (click)="addString(addr)">Add String</button>
      </div>
      </div>
    </mat-card-content>

  </mat-card>



</form>
